{
  "exchange": "binance",
  "apikey": "YOUR_FUTURES_DEMO_TRADING_API_KEY",
  "secret": "YOUR_FUTURES_DEMO_TRADING_SECRET",
  "testnet": true,
  "market_type": "future",
  "symbol": "BTC/USDT",
  "timeframe": "15m",
  "paper_trading": true,
  "cash": 10000.0,
  "commission": 0.001,
  "backtest": true,
  "historical_limit": 500
}
